<div class="jumbotron text-center">
  <div class="container">
    <h1>ROOM MONOPOLY</h1>

    <p>
      <a href='/'>Click here to go home.</a>
    </p>

    <div class="team-signup-button">
      <a href="/signup">
        Click here to register a team!
      </a>
    </div>

  </div>
</div>