<% include ./top.ejs %>

  <div class="body">

    <div class="signup-header">Team Signup</div>

    <div class="team-input">

      <div>Team Name:</div>

      <input id="team-name-input" type='text' />
      <br />
      <button id="team-submit-button">Submit</button>

    </div>

  </div>

  <% include ./footer.ejs %>