<div class="jumbotron text-center">
  <div class="container">
    <h1>ROOM MONOPOLY</h1>
    <p>This is the database page.</p>
    <p>
      <a href='/'>Click here to go home.</a>
    </p>

  </div>

  <div class="team-signup-button">
    Click here to register a team!
  </div>
  <div class="admin-login-button">
    Admin Login
  </div>
</div>