/* BOOTSTRAP */
.jumbotron {
  background: rgb(158, 153, 230);
  color: white;
  padding-bottom: 80px; 
}

.jumbotron .btn-primary {
  background: #ac93d4;
  border-color: #845ac7; 
}

.jumbotron .btn-primary:hover {
  background: #7646c1; 
}
  
.jumbotron p {
  color: #d9ccee;
  max-width: 75%;
  margin: 1em auto 2em; 
}

.navbar + .jumbotron {
  margin-top: -20px; 
}

.jumbotron .lang-logo {
  display: block;
  background: #B01302;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: auto;
  border: 2px solid white; 
}

.jumbotron .lang-logo img {
  max-width: 100%; 
}

/* HOME TABLE */
.home-table-container {
  margin: 0 auto;
  border: 2px solid black;
  width: 50%;
  font-size: 18px;
}
.table-header-row {
  background-color: rgb(179, 173, 173);
}
.table-row:nth-of-type(odd){
  background-color: rgb(212, 193, 193);
}

.table-score, .header-score {
  text-align: right;
}
th, td {
  padding: 8px;
}


.team-edit, .room-edit {
  margin: 30px;
}

.error-message {
  color: red;
  text-align: center;
}

/* index.ejs styling */
.roomContainer {
  position: relative;
  float: left;
  left: 80px;
}

.title {
  text-align: center;
  text-decoration-line: underline;
}

.add-delete-link {
  text-align: center;
}

.admin-logged-message {
  text-align: center;
  font-size: 24px;
  color: maroon;
}

.score-input {
  max-width: 50px;
  display: inline;
}

.signup-error-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.signup-header{
  font-size: 25px;
}
.team-input {
  margin-top: 30px;
}

.do-not-show {
  display: none;
}