<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/homeTop.ejs %>

    <h2 class="error-message">
      <%= error %>
    </h2>
    <p class="hit-back-button">Hit the back button.</p>

</body>

</html>