<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/homeTop.ejs %>

    <h2 class="error-message">
      Sorry, there's been an error.
    </h2>

</body>

</html>