<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <div class="jumbotron text-center">
    <div class="container">
      <h1>HELELLEO Getting Started </h1>
      <p>This is a sample Node application67876
        <a href='/db'>CLCK HER</a>
      </p>

    </div>
  </div>
  <div class="container">
    <div class="alert alert-info text-center" role="alert">
      Monopoly!
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <h3>
          <span class="glyphicon glyphicon-info-sign"></span> How this sample app works</h3>
        <ul>
          <li>Lorem ipsum blh alhba .</li>

          <li>Wshdf sdh lfsk f , slugis.</li>
          <li>desplyi asdf </li>
          <li>hohoho! intikasdfI.</li>
        </ul>
      </div>
      <div class="col-md-6">
        <h3>
          <span class="glyphicon glyphicon-link"></span> Next Steps</h3>
        <ul>
          <li>dfd</li>
          <li>If you deployed this app by deploying the Heroku Button, then in a command line shell, run:</li>
          <ul>
            <li>
              hahahahahahah</li>
            <li>
              oyoyou</li>
            <li>
              okeeeeeeeee
            </li>
          </ul>
        </ul>

      </div>
    </div>
    <!-- row -->
    <div class="alert alert-info text-center" role="alert">
      Oh hello there!?!
    </div>
  </div>


</body>

</html>