<!DOCTYPE html>
<html>

<head>
	<% include ../partials/header.ejs %>
</head>

<body>
	<% include ../partials/top.ejs %>

		<div class="teamContainer">

			<h2 class="title">Teams</h2>

			<div>
				<% teams.forEach(function(t) { %>
					<% if(t.id !== 0) { %>
						<h3>
							<%= t.name %>
						</h3>
						<div>
							Score:
							<%= t.score %>
						</div>


						<% } %>
							<% }); %>
			</div>
		</div>

</body>

</html>