<!DOCTYPE html>
<html>

<head>
	<% include ../partials/header.ejs %>
</head>

<body>
	<% include ../partials/homeTop.ejs %>

		<table class="home-table-container">
			<tr class="table-header-row">
				<th class="header-name">Team Name</th>
				<th class="header-score">Score</th>
			</tr>
			<% teams.forEach(function(t) { %>
				<% if(t.id !== 0) { %>
					<tr class="table-row">
						<td class="table-name">
							<%= t.name %>
						</td>
						<td class="table-score">
							<%= t.score %>
						</td>
					</tr>
					<% } %>
						<% }); %>
		</table>

</body>

</html>