<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/adminTop.ejs %>

    <% if(error) { %>
      <div class="alert alert-info text-center" role="alert">
        Sign-in Error
      </div>
      <% } %>

        <div class="container">
          <h2>Admin Login</h2>

          <form method="post">
            <div>
              <label>Username:</label>
              <input type="text" name="username" />
            </div>
            <div>
              <label>Password:</label>
              <input type="password" name="password" />
            </div>
            <button type="submit">Log In</button>
          </form>

        </div>

</body>

</html>