<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/top.ejs %>

    <div class="alert alert-info text-center" role="alert">
      Sign-in Error
    </div>

    <% include ../partials/loginPartial.ejs %>

      <% include ../partials/footer.ejs %>
</body>

</html>