<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/top.ejs %>

    <div class="room-edit">
      <h3>
        Room Name:
      </h3>
      <input value='<%- room.roomName %>' />


      <div>
        <br /> Current record:
        <input value='<%- room.time %>' />
        <br />Held by:
        <input value='<%- room.name %>' />
        <br />ID:
        <%= room.id %>
      </div>

      <button id="room-save">Save</button>

    </div>

    <% include ../partials/footer.ejs %>
</body>

</html>