<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/top.ejs %>

    <form class="container" method="post">
      <h3>
        Room Name:
      </h3>
      <input name="name" />

      <div>
        <br /> Current record:
        <input name="time" />
        <br />Held by:
        <select name="teamId">
          <% teams.forEach(function(t) { %>
            <option value="<%- t.id %>">
              <%= t.name %>
            </option>
            <% }); %>
        </select>
      </div>

      <button type="submit">Save</button>
    </form>

</body>

</html>