<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>

    <style>
      .body {
        display: flex;
        flex-direction: column;
        text-align: center;
      }

      .signup-header {
        font-size: 25px;
      }

      .team-input {
        margin-top: 30px;
      }
    </style>
</head>

<body>
  <% include ../partials/signupPartial.ejs %>

    <h2>
      Sorry, that name is already taken.
    </h2>

</body>

</html>