<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
<% include ../partials/top.ejs %>

  <% if (error) { %>
    <h2 class="error-message">
      Sorry, that name is already taken.
    </h2>
  <% } %>

  <div class="signup-error-container">

    <div class="signup-header">
      Team Signup
    </div>

    <form class="team-input">

      <div>Team Name:</div>

      <input id="team-name-input" type='text' name="teamName" />
      <br />
      <button id="team-submit-button" type="submit">Submit</button>

    </form>

  </div>
  
</body>

</html>