<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/top.ejs %>

    <div class="team-edit">
      <h3>
        Name:
      </h3>
      <input id='team-name-input' value="<%- team.name %>" />

      <div>
        <br />ID:
        <span id='team-id'>
          <%= team.id %>
        </span>
      </div>

      <button id="team-save">Save</button>
    </div>

    <% include ../partials/footer.ejs %>
</body>

</html>