<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/adminTop.ejs %>
    <form class="container" method="post">
      <h3>Choose a team to delete:</h3>

      <select name="id">
        <option value=''></option>
        <% teams.forEach(function(t) { %>
          <% if (t.id !== 0) { %>
            <option value="<%- t.id %>">
              <%= t.name %>
            </option>
            <% } %>
              <% }); %>
      </select>

      <button type="submit">Delete</button>

    </form>
</body>

</html>