<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/top.ejs %>

    <div style="text-align: center;">
      <%= teamName %> is registered!
    </div>

</body>

</html>