<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>

    <style>
      #score,
      #score-dec,
      #score-inc {
        display: inline;
      }
    </style>
</head>

<body>

  <% include ../partials/top.ejs %>

    <form class="team-edit">
      <h3>
        Name:
      </h3>
      <input id='team-name-input' value="<%- team.name %>" name="name" />
      <br />
      <br />

      <div id="score">Score:
        <input id=score-number value="<%- team.score %>" type="number" style="max-width: 50px" name="score" />
      </div>

      <br />
      <br />

      <button id="team-save" type="submit">Save</button>

      <input name="id" value="<%- team.id %>" style="display: none" />
    </form>

    <% include ../partials/footer.ejs %>
</body>

</html>