<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/top.ejs %>
    <form class="container">
      <h3>Choose a team to delete:</h3>

      <select style="margin-left:30px;" id="select-delete-team" name="id">
        <option value=''></option>
        <% teams.forEach(function(t) { %>
          <% if (t.id !== 0) { %>
            <option value="<%- t.id %>">
              <%= t.name %>
            </option>
            <% } %>
              <% }); %>
      </select>

      <button id="team-delete-button" type="submit">Delete</button>

    </form>
    <% include ../partials/footer.ejs %>
</body>

</html>