<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/top.ejs %>

    <div class="registered">
      <%= teamName %> is registered!
    </div>

</body>

</html>