<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/adminTop.ejs %>

    <form class="team-edit" method="post">
      <h3>
        Name:
      </h3>

      <input value="<%- team.name %>" name="name" />
      <br />
      <br />

      <h4>Score: </h4>

      <input class="score-input" value="<%- team.score %>" type="number" name="score" />

      <br />
      <br />

      <button type="submit">Save</button>

      <input class="do-not-show" name="id" value="<%- team.id %>" />
    </form>

</body>

</html>